@using SYS_SGI.Presentation.Utilities;
@using System.Web.Configuration;
@{
    var listTmp = (List<SYS_SGI.Presentation.Models.System.VMPermisosSystem.PermisoControlador>)this.Session[Constantes.Sesion.Permisos.Lista_PermisosControlador];
    var permiso = listTmp.Where(x => x.Controlador == @ViewContext.RouteData.Values["controller"].ToString()).Select(s => s.CodigoAccion).ToList()[0];
    var opcion = listTmp.Where(x => x.Controlador == @ViewContext.RouteData.Values["controller"].ToString()).Select(s => s.Opcion).ToList()[0];
}

<div class="row">
    <div class="col-md-12">
        <div class="form-group col-md-8 titulo-Head">
            <div id="content-partial" class="content-header">
                <h1>
                    <span id="titulo-opcion" class="titulo-opcion">@opcion</span>
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"></h3> 

            </div>
            <div class="box-body">
                <div class="form-group col-md-12 text-right paddingHorizClear">
                    @Ajax.RawActionLinkToPopUp("Nuevo", "Mantenimiento", "Indicador",
                         null, new AjaxOptions
                         {
                             UpdateTargetId = "divModalBodyIndicador",
                             OnBegin = "mostrarModal('Nuevo', 'divModalBodyIndicador', 'idModalManIndicador'); ",
                             HttpMethod = "post"
                         }, new { id = "lnkNew", @class = "btn btn-accion btn-xs", style = "cursor: pointer;" + (permiso >= (int)Constantes.Permisos.Codigo.Escritura ? Constantes.Permisos.Style.Activo : Constantes.Permisos.Style.Desactivo) })
                </div>
                <div class="form-group col-md-12 paddingHorizClear">
                    <div id="contenedorggmIndicador" class="content-grid-gmd">
                        @Html.Action("Paginacion", "Indicador", new
                   {
                       arg = Newtonsoft.Json.JsonConvert.SerializeObject(new
                       {
                           CurrentPageIndex = Constantes.Controles.Paginacion.FilasPorPagina.PaginaDefecto,
                           RowsPerPage = Convert.ToInt32(WebConfigurationManager.AppSettings["RowsPerPage"]),
                           SortColumn = WebConfigurationManager.AppSettings["SortColumn"].ToString(),
                           OrderBy = "CodigoIndicador"
                       })
                   })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        refrescarggmIndicador();
        colorFondo();
    });

    function refrescarggmIndicador() {
        var data = $("#ggmIndicador").GMDDeserialice();
        $("#contenedorggmIndicador").load(hostWeb + "/Indicador/Paginacion/", { arg: JSON.stringify(data) });
    }
</script>
