@using SYS_SGI.Presentation.Utilities; 
@using SYS_SGI.Domain.Implementation.LogicalEntities.MOV;
@using SYS_SGI.Domain.Implementation.Common.Base; 
@model GMD.CustomHtmlHelpers.HtmlGenericGrid.GMDGridModel<AlineamientoEstrategicoLogic> 
@{
    var listTmp = (List<SYS_SGI.Presentation.Models.System.VMPermisosSystem.PermisoControlador>)this.Session[Constantes.Sesion.Permisos.Lista_PermisosControlador];
    var permiso = listTmp.Where(x => x.Controlador == @ViewContext.RouteData.Values["controller"].ToString()).Select(s => s.CodigoAccion).ToList()[0];

    var grid = new GMDGrid<AlineamientoEstrategicoLogic>("ggmPaginacionMantenimiento", Model) { callBackMethod = "refrescarggmPaginacionMantenimiento", _overflowx = true, tableHtmlAttributes = new { @class = "grid-gmd" } };
    grid.columnCollection.addColumn(_headerText: "Item", _isFilterable: false, _isSortable: false, _format: @<text><span title="@item.Item">@item.Item</span></text>);
    var cont = 0;
    if (Model.Data.Count() > 0)
    {
        foreach (var item1 in Model.Data)
        {
            if (cont == 0)
            {
                if (item1.alineamientoConfiguracion.CodigoTipoAlineamiento1 > 0)
                {
                    grid.columnCollection.addColumn(_headerText: item1.alineamientoConfiguracion.TipoAlineamiento1, _isFilterable: false, _isSortable: false, _format: @<text><span title="@item.Alineamiento1">@item.Alineamiento1</span></text>);
                }

                if (item1.alineamientoConfiguracion.CodigoTipoAlineamiento2 > 0)
                {
                    grid.columnCollection.addColumn(_headerText: item1.alineamientoConfiguracion.TipoAlineamiento2, _isFilterable: false, _isSortable: false, _format: @<text><span title="@item.Alineamiento2">@item.Alineamiento2</span></text>);
                }

                if (item1.alineamientoConfiguracion.CodigoTipoAlineamiento3 > 0)
                {
                    grid.columnCollection.addColumn(_headerText: item1.alineamientoConfiguracion.TipoAlineamiento3, _isFilterable: false, _isSortable: false, _format: @<text><span title="@item.Alineamiento3">@item.Alineamiento3</span></text>);
                }

                if (item1.alineamientoConfiguracion.CodigoTipoAlineamiento4 > 0)
                {
                    grid.columnCollection.addColumn(_headerText: item1.alineamientoConfiguracion.TipoAlineamiento4, _isFilterable: false, _isSortable: false, _format: @<text><span title="@item.Alineamiento4">@item.Alineamiento4</span></text>);
                }

                if (item1.alineamientoConfiguracion.CodigoTipoAlineamiento5 > 0)
                {
                    grid.columnCollection.addColumn(_headerText: item1.alineamientoConfiguracion.TipoAlineamiento5, _isFilterable: false, _isSortable: false, _format: @<text><span title="@item.Alineamiento5">@item.Alineamiento5</span></text>);
                }

                if (item1.alineamientoConfiguracion.CodigoTipoAlineamiento6 > 0)
                {
                    grid.columnCollection.addColumn(_headerText: item1.alineamientoConfiguracion.TipoAlineamiento6, _isFilterable: false, _isSortable: false, _format: @<text><span title="@item.Alineamiento6">@item.Alineamiento6</span></text>);
                }

                if (item1.alineamientoConfiguracion.CodigoTipoAlineamiento7 > 0)
                {
                    grid.columnCollection.addColumn(_headerText: item1.alineamientoConfiguracion.TipoAlineamiento7, _isFilterable: false, _isSortable: false, _format: @<text><span title="@item.Alineamiento7">@item.Alineamiento7</span></text>);
                }

                if (item1.alineamientoConfiguracion.CodigoTipoAlineamiento8 > 0)
                {
                    grid.columnCollection.addColumn(_headerText: item1.alineamientoConfiguracion.TipoAlineamiento8, _isFilterable: false, _isSortable: false, _format: @<text><span title="@item.Alineamiento8">@item.Alineamiento8</span></text>);
                }

                if (item1.alineamientoConfiguracion.CodigoTipoAlineamiento9 > 0)
                {
                    grid.columnCollection.addColumn(_headerText: item1.alineamientoConfiguracion.TipoAlineamiento9, _isFilterable: false, _isSortable: false, _format: @<text><span title="@item.Alineamiento9">@item.Alineamiento9</span></text>);
                }

                if (item1.alineamientoConfiguracion.CodigoTipoAlineamiento10 > 0)
                {
                    grid.columnCollection.addColumn(_headerText: item1.alineamientoConfiguracion.TipoAlineamiento10, _isFilterable: false, _isSortable: false, _format: @<text><span title="@item.Alineamiento10">@item.Alineamiento10</span></text>);
                }

                if (item1.alineamientoConfiguracion.Indicador)
                {
                    grid.columnCollection.addColumn(_headerText: "INDICADOR", _isFilterable: false, _isSortable: false, _format: @<text><span title="@item.Indicador">@item.Indicador</span></text>);
                }
            }
            else
            {
                break;
            }

            cont++;
        }

        grid.columnCollection.addColumn(_headerText: "Eliminar", _isFilterable: false, _isSortable: false, _format: @<text>
        <div class="acciones_grilla">           
            @Ajax.RawActionLink("", "Quitar", "AlineamientoEstrategico",
            new {
                item = item.Item
            }, new AjaxOptions
            {
                OnComplete = "refrescarggmPaginacionMantenimiento();",
                HttpMethod = "POST"
            }, new { id = "lnkEliminar", @class = "glyphicon glyphicon-trash" })
        </div>
        </text>, _htmlAttributes: new { @width = "8%" });
    }
}
@grid.GetHtml()
<script>
    $(function () {
        $('#ggmPaginacionMantenimiento tfoot').find('input').remove()
        $("#ggmPaginacionMantenimiento tfoot span:first-child").remove()
    })
</script>